<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1" style="background-color:rgba(0, 153, 204);">Taller Mecanico</h1>
            <h3 class="mb-5">
                <em style="background-color:rgba(0, 153, 204);">SW de gestion de trabajo  </em>
            </h3>
            <a class="btn btn-success btn-lg" href="/signin">
                Ingresar
            </a>
        </div>
        <div class="overlay"></div>
        <script src="phonegap.js"></script> 
    </header>
</main>